{% extends "header.html" %}
{% block content %}

    <style>
        * {
            font-family: 'Noto Sans KR', sans-serif;
        }

        .title {
            text-align: center;
            font-family: 'Courier Prime', monospace;
            font-size: 80px;
            color: #fff;
            -webkit-text-stroke: 1px #000;
            cursor: pointer;
        }

        .box {
            background-color: #e0e0e0;
            margin-left: 50px;
        }

        .content {
            margin-top: 19%;
        }

        .input {
            font-weight: bold;
        }

        .is-sparta {
            background-color: #8e44ad;
            color: #fff;
            font-weight: 500;
        }

        .button:hover {
            color: #8e44ad;
            background-color: #fff;
            transition-duration: 0.3s;
        }
    </style>

    <script>
         {% if msg %}
               alert("{{ msg }}")
             {% endif %}
        $(document).ready(function () {
            getYoutubeUrl()
        });

        function getYoutubeUrl() {
            $.ajax({
                type: "GET",
                url: "/getYoutubeUrl",
                data: {},
                success: function (response) {
                    if (response['result'] == 'success') {
                        $("#youtubeFrame").attr("src", "https://www.youtube.com/embed/" + response['youtubeUrl'] + "?autoplay=1&mute=1")
                    } else {
                        alert(response['msg']);
                    }
                }
            });
        }

        function sign_in() {
            let id = $("#input-id").val()
            let pw = $("#input-pw").val()

            if (id == "") {
                $("#help-id-login").text("아이디를 입력해주세요.")
                $("#input-id").focus()
                return;
            } else {
                $("#help-id-login").text("")
            }

            if (pw == "") {
                $("#help-pw-login").text("비밀번호를 입력해주세요.")
                $("#input-pw").focus()
                return;
            } else {
                $("#help-pw-login").text("")
            }
            $.ajax({
                type: "POST",
                url: "/sign_in",
                data: {
                    id_give: id,
                    pw_give: pw
                },
                success: function (response) {
                    if (response['result'] == 'success') {
                        $.cookie('mytoken', response['token'], {path: '/'});
                        window.location.replace("/")
                    } else {
                        alert(response['msg'])
                    }
                }
            });
        }
       function enterkey() {
            if (window.event.keyCode == 13) {

                // 엔터키가 눌렸을 때 실행할 내용
                sign_in();
            }
        }


    </script>




<section class="section">
    <div class="container">
        <div class="columns">

            <div class="box column is-one-third" style="">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <div class="field has-addons">
                                <div class="control has-icons-left" style="width:100%">
                                    <input id="input-id" class="input" type="text" placeholder="아이디" onkeyup="enterkey();">
                                    <span class="icon is-small is-left"><i class="fa fa-user"></i></span>
                                </div>
                            </div>
                            <p id="help-id-login" class="help is-danger"></p>
                            <div class="field">
                                <div class="control has-icons-left">
                                    <input id="input-pw" class="input" type="password" placeholder="비밀번호" onkeyup="enterkey();">
                                    <span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
                                </div>
                                <p id="help-pw-login" class="help is-danger"></p>
                            </div>
                        </div>
                        <div id="div-sign-in-or-up" class="has-text-centered">
                            <nav class="level is-mobile">
                                <button class="level-item button is-sparta" onclick="sign_in()">
                                    로그인
                                </button>
                            </nav>
                            <hr>
                            <h4 class="mb-3"><b>아직 회원이 아니라면</b></h4>
                            <nav class="level is-mobile">
                                <button class="level-item button is-sparta is-outlined"
                                        onclick="window.location.href='/sign_up'">
                                    회원가입하기
                                </button>
                            </nav>
                        </div>
                    </div>
                </article>
            </div>
            <div class="box column is-tow-third " style="margin-bottom:1.5em;">
                <figure class="image is-16by9">
                    <iframe class="has-ratio" id="youtubeFrame" width="640" height="360" src="" frameborder="0"
                            allowfullscreen allow="autoplay;mute;"></iframe>
                </figure>
            </div>
        </div>
    </div>
</section>


{% endblock %}